@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  background-color: #1d2029;
  z-index: -2;
}

#container {
  margin: auto;
  max-width: 1440px;
  width: 100%;
}

#container:before {
  content: "";
  display: block;
  position: absolute;
  max-width: 1440px;
  width: 100%;
  height: 300px;
  z-index: -1;
  border-radius: 0 0 15px 15px;
  margin: auto;
}

#container .white {
  color: #fff;
}

#container .grey-color {
  color: #8c92b3;
}

#container .green {
  color: #1db489;
}

#container .red {
  color: #dc414c;
}

#container .dark {
  background-color: #252b43;
}

#container .dark:hover {
  background-color: #333a56;
  cursor: pointer;
}

#container .bright {
  background-color: #f0f3fa;
}

#container .bright:hover {
  background-color: #e1e3f0;
}

#container #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding: 20px 60px;
}

#container #header h1 {
  margin-bottom: 0;
}

#container #header p {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
}

#container #header .theme-thoggle {
  margin-top: 50px;
}

#container #header .theme-thoggle span {
  font-weight: 700;
  margin-right: 5px;
}

#container #header .theme-thoggle .switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 22px;
  padding-right: 4px;
  /* Rounded sliders */
}

#container #header .theme-thoggle .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

#container #header .theme-thoggle .switch .slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 2.5px;
  bottom: 1px;
  background-color: #333a56;
  -webkit-transition: .4s;
  transition: .4s;
  transition: .4s;
}

#container #header .theme-thoggle .switch .round {
  border-radius: 34px;
}

#container #header .theme-thoggle .switch .round:before {
  border-radius: 50%;
}

#container #header .theme-thoggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#container #header .theme-thoggle .switch input:checked + .slider {
  background-color: #fff;
}

#container #header .theme-thoggle .switch input + .slider {
  background-color: #1db489;
}

#container #header .theme-thoggle .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #1db489;
          box-shadow: 0 0 1px #1db489;
}

#container #header .theme-thoggle .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
  transform: translateX(26px);
  transform: translateX(26px);
}

#container #content {
  padding: 0 60px;
  margin-top: 10px;
}

#container #content #followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#container #content #followers .follow-box {
  width: 200px;
  height: 180px;
  border-radius: 5px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px;
}

#container #content #followers .follow-box > p {
  letter-spacing: 3px;
  font-size: 14px;
}

#container #content #followers .follow-box .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
}

#container #content #followers .follow-box .logo svg {
  margin-right: 10px;
}

#container #content #followers .follow-box .follow-num {
  font-size: 50px;
  margin: 0;
}

#container #content #followers .follow-box .fw-dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

#container #content #followers .follow-box .fw-dir svg {
  margin-right: 5px;
}

#container #content #followers .fb {
  border-top: 4px solid #198ff5;
}

#container #content #followers .tw {
  border-top: 4px solid #1ca0f2;
}

#container #content #followers .yt {
  border-top: 4px solid #c4032a;
}

#container #content #followers .ig {
  border-top: 4px solid linear-gradient(to left, #fdc468, #df4996) 90 20%;
}

#container #content #overview > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#container #content #overview > div .overview-box {
  width: 200px;
  margin: 10px;
  height: 100px;
  border-radius: 5px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container #content #overview > div .overview-box p {
  margin: 0;
}

#container #content #overview > div .overview-box h2 {
  font-size: 35px;
  margin: 0;
}

#container #content #overview > div .overview-box .vw-lk-rt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#container #content #overview > div .overview-box .overview-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#container #content #overview > div .overview-box .overview-logos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #content #overview > div .overview-box .overview-logos > div svg {
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */